/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;
}

img{
    max-width: 100%;
}

nav{
    background-color: #255EE9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container{
    display: flex;
    justify-content: center;
    background-color: #255EE9;
    margin-top: 1em;
    width: 80%;
    align-items: center;
}

.nav-item1{
    background-color:#255EE9; 
}

.nav-item2{
    background-color: #255EE9;
    flex-grow: 1;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: white;
}

.nav-item3{
    background-color: #255EE9;
}

button{
    background-color: white;
    border-radius: 1em;
    border: #255EE9;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

header{
    display: flex;
    background-image: url(../img/jumbo.png);
    background-size:cover;                      
    background-repeat:no-repeat;
    justify-content: center;
    align-items: center;
    height: 550px;
    margin-bottom: 3em; 
}

.jumbotron{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

h2{
 margin-top: 4em;
 font-size: 2.5rem;
 font-weight: 900;
}

p{
    align-self: flex-start;
    font-size: 1.5rem;
    margin-top: 3em;
    margin-bottom: 2em;
}

.header-button1{
    background-color: white;
    padding: 0.7em;
    font-size: large;
    font-weight: 700;
    border-radius: 2em;
}

.header-button2{
    background-color: black;
    color: white;
    padding: 0.7em;
    margin-left: 0.5em;
    font-size: large;
    font-weight: 700;
    border-radius: 2em;
}


.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.2);
    margin-top: -3px;
    border-color: aliceblue; 
}

.section-item1{
    width: 40%;
}

.section-item2{
    width: 20%;
}

.section-item-reverse1{
        width: 40%;
}

.section-item-reverse2{
    width: 20%;
}

.bottom-section{
    display: flex;
    background-color: rgba(128, 128, 128, 0.2);
    justify-content: center;
    align-content: center;
    margin-top: -3px;
}

.big-section{
    width: 60%;
    justify-self: center;
    text-align: center;
}

.last-section{
    background-color: #80808033;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.star{
    align-self: center;
    justify-self: center;
    background-image: url(../img/stars.svg);
    background-size: contain;  
    text-align: center;
    margin-bottom: 2em;
}

h3{
    margin-top: 1.5em;
    font-size: x-large;
}

#download-button{
    background-color: #255EE9;
    padding: 0.8em;
    border-radius: 2em;
    margin-top: 1.3em;
    color: white;
    font-size: large;
    font-weight: 700;
    border-radius: 2em;
}

.foot-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #23272A;
}

#grande{
    width: 20%;
    margin-top: 50px;
    margin-left: 100px;
}

#grande>h2{
    margin-top: 10px;
    color: #7289DA;
    margin-bottom: 0.7em;
    font-size: 2em;
}

#ita{
    width: 20px;
    height: 15px;
}

#language{
    color: white;
}

#arrow{
    color: white;
}

i{
  margin-right: 1em;
  margin-top: 1em;
  color: white;
}

.col{
    width: 10%;
    margin-top: 50px;
    margin-bottom: 5em;
}

.foot-list{
    margin-top: 1.1em;
    margin-bottom: 1em;
    color: #7289DA;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li{
    margin-top: 0.5em;
    color: white;
    font-weight: 500;
}

.credits{
    background-color: #23272A;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logobutton{
    width: 56%;
    border-top: 1px solid #7289DA;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#final-logo{
    margin-top: 0.7em;
    margin-bottom: 1em;
}

#final-button{
    margin-top: 0.7em;
    margin-bottom: 1em;
    background-color: #7289DA;
    color: white;
    font-weight: bold;
}